/** FONTS **/

@import url(../fonts/stylesheet.css);
/** CSS **/

@import url(normalize.css);
/*@import url(milligram.min.css);*/

@import url(responsive.css);
@import url(common.css);
/* HEADER */

h1 {
  color: black;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

#main_menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  background-color: #6d214f;
  margin-top: 0;
}

#menu_tel {
  display:none;
}
#main_menu ul li {
  width: 100%;
  padding: 5px;
  
}

#main_menu ul li a {
  color: #fff;
  text-decoration: none;
  text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}

#main_menu ul li a:hover {
  color: #00D927;
}

#main_menu img {
  height: 200px;
}

#search_btn {
  padding: 3px 0;
  max-width: 80%;
  border-radius: 10px;
}

#search_btn_tel {
  padding: 3px 0;
  max-width: 80%;
  border-radius: 10px;
}

.main_navbar {
  display:flex;
  text-align: center;
  justify-content: space-around ;
  padding : 20px 10px 20px 10px;
}

.main_navbar button {
  padding: 5px;
  margin : auto;
  border-radius: 5px;
  width: 12vw;
}

/** posts **/

.divposts {
  background-color: rgba(109, 33, 79, 0.3);
  border: 2px solid #00D927;
  color: #00D927;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}
.divposts p {
  white-space: pre-wrap;
}

/** titre h4 **/

h4 {
  text-align: center;
  border-bottom: 1px solid #00D927;
  padding-bottom: 5px;
}

button {
  background-color: black;
  color: white;
  border: 2px solid #00D927;
  margin: 20px;
}

button:hover {
  border: 2px solid #fff;
  box-shadow: 1px 1px 10px #555;
  color: #00D927;
}

.yesBtn:hover {
  color: rgb(0, 217, 39);
  border: 2px solid rgb(255, 234, 42);
  background-color: rgba(0, 217, 39, 0.2);
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;

}

.saltyBtn:hover {
  color: #FE36DD;
  border: 2px solid rgb(255, 234, 42);
  background-color: rgba(254, 54, 221, 0.2);
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;

}

.badBtn:hover {
  color: #f00;
  border: 2px solid rgb(255, 234, 42);
  background-color: rgba(240, 15, 0, 0.2);
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;

}

.boutons {
  display : flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.boutons button {
  padding: 20px 20px;
  border-radius: 5px;
}

/*votes*/

.votes {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.compteur {
  margin-left: 55px;
  margin-right: 75px;
  color: #00D927;
  border: 1px solid #00D927;
  box-shadow: 1px 1px 2px #555;
  padding: 5px;
  background-color: black;
}

/* animation clignotement */
.blink {
  animation: Test 1s infinite;
}

@keyframes Test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*media queries bouton menu*/
@media screen and (max-width:900px){

  .main_navbar button {
    padding: 2px;
    margin : 0px;
    font-size: 0.5em;
  }
  .main_navbar {
    padding : 10px 5px 10px 5px;
  }

  /*suppression marge des posts sur tel*/
  .divposts {
    width: 90%;
  }
  .boutons {
    width: 100%;
  }
  .boutons button {
      padding: 10px 10px;

      margin: auto;
      margin-top:10px;
      margin-bottom:10px ;
  }
  .votes {
    width: 100%;
  }
  .compteur {
    margin: auto;
  }

  /*mise en forme du menu sur tel*/
  #menu_ordi {
    display:none;
  }
  #menu_tel {
    display:flex;
    justify-content: space-around;
    background-color: #6d214f;
  }
  #burger{
    height:30px;
    margin-top: 10%;
    margin-left: 100px;
  }
  #menu_tel ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 0px;
    margin-left: 50px;

  }
  #menu_tel ul li {
    margin: auto;
    width: 100%;
    padding-left: 5px;
    margin-left: 0px;
  }

  .nodisplay{
    display:none;
  }
  .logo{
    margin-right: 100px;
  }
}

/*ajout de quelques regles  supplémentaire sur le menu pour petit tel */
@media screen and (max-width:600px){
  #menu_tel img{
    height: 30vw;
  }
  #menu_tel ul {
    font-size: 15px;
    margin-left: 0px;
}
#menu_tel ul li {
  font-size: 12px;
}






