/** FONTS **/
@import url(../fonts/stylesheet.css);

body {
  font-family: 'commodore', sans-serif;
  background-color: #200917;
}

form {
  background: no-repeat url("../pictures/formPost_background.png");
  position: relative;
  padding-bottom: 100%;
  background-size: 50%;
  left: 25%;
  right: 25%;
  /*border: 1px solid green;*/
}

#new_post {
  position: absolute;
  background-color: transparent;
  color: green;
  height: 24%;
  width: 33%;
  top: 7%;
  left: 8%;
  outline: none;
  resize: none;
  /*border: 1px solid red;*/
  border: transparent;
  font-size: 1.5vw;
  font-family: 'commodore', sans-serif;
}

button {
  position: absolute;
  top: 38%;
  left: 17.5%;
  background-color: transparent;
  border: transparent;
  /*border: 1px solid green;*/
  color: grey;
  font-family: 'commodore', sans-serif;
  font-size: 1vw;
  padding: 0.7% 3% 0.7% 3%;
}

button:hover {
  color: green;
}

/* SMARTPHONE S  */
@media screen and (max-width: 321px) {
  button {
    top: 36.3%;
  }
}

/* SMARTPHONE M  */
@media screen and (min-width: 321px) and (max-width: 376px) {
  button {
    top: 36.5%;
  }
}

/* SMARTPHONE L  */
@media screen and (min-width: 376px) and (max-width: 426px) {
  button {
    top: 36.8%;
  }
}

/* TABLET  */
@media screen and (min-width: 426px) and (max-width: 769px) {
  button {
    top: 37.5%;
  }
}

/* TABLET L  */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  button {
    top: 37.8%;
  }
}


/*media queries bouton menu*/
@media screen and (max-width:720px) {
  form {
    background-size: 90%;
    left :5%;
    right:5%;
  }

  #new_post {
    position: absolute;
    height: 40%;
    width: 62%;
    top: 12%;
    left: 12%;
    outline: none;
    resize: none;
    /*border: 1px solid red;*/
    border: transparent;
    font-size: 3vw;
  }

  button {
    position: absolute;
    top: 67%;
    left: 35%;
    /*border: 1px solid green;*/
    font-size: 2vw;
  }
}


  



